[user]
	name = Nicki Sibbern
	email = 5722216+NickiSibbern@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519_sk
[core]
	editor =code --wait
	autocrlf = input
	excludesfile = ~/.gitignore
[push]
	default = current
[pull]
	rebase = true
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true